@using MvcProject.Models.Entity
@model List<CvContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th> ID</th>
        <th>Name </th>
        <th>Email</th>
        <th>Title</th>
        <th>Description</th>


    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.FLName</td>
                <td>@item.Email</td>
                <td>@item.Title</td>
                <td>@item.M_Description</td>

                
            </tr>
        }
    </tbody>
</table>

